<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>租房 - 提示信息</title>
<link type="text/css" rel="stylesheet" href="/asserts/css/style.css" />
<script type="text/javascript" src="/asserts/js/function.js"></script>
</head>
<body>
<div id="header" class="wrap">
<!--	<div id="logo"><img src="img/logo.gif" /></div>-->
</div>
<div id="regLogin" class="wrap">
	<div class="dialog">
		<dl class="clearfix">
			<dt>新房屋信息发布</dt>
			<dd class="past">提示信息</dd>
		</dl>
		<div class="box">
			<div class="msg">
				<p>房屋信息发布成功</p>
				<p>正在返回...</p>
				<!--<script type="text/javascript">
					window.setTimeout("location.href='${param.url}'", 3000);
				</script>-->
			</div>
		</div>
	</div>
</div>
<div id="footer" class="wrap">
	<dl>
        <dd>关于我们 · 联系方式 · 意见反馈 · 帮助中心</dd>
    </dl>
</div>
</body>
</html>

